body{
    background-color: #B3E5FC;
}


.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-width: 70%;
    width: 100%;
    align-items: center;
}

.indexDiv{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
}

.heading {
    font-size: 4em;
    margin: 2rem 0;
}

.welcome-text {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1rem;
}

.smallTitle{
    text-align: center;
}

.action {
    text-align: center;
    padding: 1rem 0;
}

.play, .homeBtn {
    background-color: #ebe9e4;
    color: #000000;
    padding: 1rem;
    border: 1px solid #787774;
    border-radius: 5px;
    margin-top: 1rem;
}


#root {
    margin: 30px;
}


.headerBar {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    height: 50px;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

.msgDiv {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;

}
.notLoggedInMsg {
    justify-self: flex-start;
}
.home {
    float: left;
}
.btnPartHeader {
    float: right;
    margin: 30px;
}

.index {
    float: left;
    font-size: 12px;
    text-align: center;
    width: 30px;
    border: 1px solid transparent;
    margin-right: -1px;
    margin-top: -1px;
}


.btnPart {
    display: inline-flex;
}
/*.btn {
    width: 90px;
    height: 20px;
    background-color: rgb(207, 205, 200);
    color: black;
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}*/

.btnDeActive {
    width: 90px;
    background-color: rgb(207, 205, 200);
    color: rgb(153, 153, 153);
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.menuWrapper {
    max-width: 700px;
    width: 75%;
    margin: auto;
    background: #E1F5FE;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: 1px solid black;
    border-radius: 2%;

}


input {
    width: 75%;
    margin-right: 25px;
    padding: 15px 0 15px 15px;
    border-radius: 4px;
    border: 1px solid rgb(238, 238, 238);
}

.submitMenuBtn, .submitBtn, .btn, .createBtn, .editBtn, .editBtn2, .loginBtn{
    background: #03A9F4;
    border: none;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Lato", sans-serif;
    padding: 15px 25px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid black;
    cursor: pointer;
}



ul {
    list-style: none;
    margin-bottom: 50px;
}

li {
    font-weight: 300;
    padding: 20px 0 20px 0;
    width: 100%;
    border-top: 1px solid #eeeeee;
    display: flex;
}

.completeItemsList {
    width: 100%;
    margin-top: 20px;
    padding: 0px;
}

.oneItem {
    padding: 4px;
}


.tableData{
    padding: 10px;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #B3E5FC;
    border-radius: 5px;
}